<div class="row justify-content-center">
    <div class="col-8">
        <form data-toggle="validator" name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-affectations-heading" jhiTranslate="chargeplanApplicationApp.affectations.home.createOrEditLabel">Create or edit a Affectations</h2>
            <p>Les champs avec <label style="color: red">*</label> sont obligatoires.</p>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!affectations.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="affectations.id" readonly />
                </div>
                <div class="form-group">
                    <label style="color: red">*</label> <label class="form-control-label" jhiTranslate="chargeplanApplicationApp.affectations.dateDebut" for="field_dateDebut">Date Debut</label>
                    <div class="input-group">
                        <input id="field_dateDebut" type="text" class="form-control" name="dateDebut" ngbDatepicker  #dateDebutDp="ngbDatepicker" [(ngModel)]="affectations.dateDebut"
                        required/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="dateDebutDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                    <div [hidden]="!(editForm.controls.dateDebut?.dirty && editForm.controls.dateDebut?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.dateDebut?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label style="color: red">*</label>  <label class="form-control-label" jhiTranslate="chargeplanApplicationApp.affectations.dateFin" for="field_dateFin">Date Fin</label>
                    <div class="input-group">
                        <input id="field_dateFin" type="text" class="form-control" name="dateFin" ngbDatepicker  #dateFinDp="ngbDatepicker" [(ngModel)]="affectations.dateFin"
                        required/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="dateFinDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label style="color: red">*</label>  <label class="form-control-label" jhiTranslate="chargeplanApplicationApp.affectations.charge" for="field_charge">Charge</label>
                    <input type="number" class="form-control" name="charge" id="field_charge"
                        [(ngModel)]="affectations.charge" required/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="chargeplanApplicationApp.affectations.commentaire" for="field_commentaire">Commentaire</label>
                    <input type="text" class="form-control" name="commentaire" id="field_commentaire"
                        [(ngModel)]="affectations.commentaire" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="chargeplanApplicationApp.affectations.color" for="field_color">Color</label>
                    <select class="form-control" name="color" [(ngModel)]="affectations.color" id="field_color" >
                        <option value="gris">{{'chargeplanApplicationApp.Colors.gris'  | translate}}</option>
                        <option value="rouge">{{'chargeplanApplicationApp.Colors.rouge'| translate }}</option>
                        <option value="vert">{{'chargeplanApplicationApp.Colors.vert' | translate}}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label style="color: red">*</label>  <label class="form-control-label" jhiTranslate="chargeplanApplicationApp.affectations.collaborator" for="field_collaborator">Collaborator</label>
                    <select required aria-required="true" class="form-control" id="field_collaborator" name="field_collaborator" [(ngModel)]="affectations.collaborator" >
                        <option></option>
                        <option [ngValue]="collaboratorsOption.id === affectations.collaborator?.id ? affectations.collaborator : collaboratorsOption" *ngFor="let collaboratorsOption of collaborators; trackBy: trackCollaboratorsById">{{collaboratorsOption.nomCollaborator}} {{collaboratorsOption.prenomCollaborator}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label style="color: red">*</label>  <label class="form-control-label" jhiTranslate="chargeplanApplicationApp.affectations.project" for="field_project">Project</label>
                    <select class="form-control" id="field_project" name="project" [(ngModel)]="affectations.project" required>
                        <option [ngValue]="null"></option>
                        <option [ngValue]="projectsOption.id === affectations.project?.id ? affectations.project : projectsOption" *ngFor="let projectsOption of projects; trackBy: trackProjectsById">{{projectsOption.nameProject}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
